<% content_for :meta_title, "Poseidon - All the surf class in one palce" %>


<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<div class="container padded">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="search">
        <div class="form-group-index">
          <%= form_tag services_path, method: :get, class: "form-group-navbar-home" do %>
              <%= text_field_tag :search, params[:search], class:'autocomplete-location form-control searchbar-index', placeholder: "Where would you like to surf ?" %>
              <%= button_tag "Search", :name => nil, class:"input-group-addon-index form-group-navbar-button" do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row group">
    <% @services.each do |service| %>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <%= link_to service_path(service.id) do %>
      <article class="post">
        <div class="card-author">
          <% if service.photo? %>
          <div class="post-author" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path service.photo, height: 300, width: 400, crop: :fill %>')">
            <% else %>
            <div class="post-author">
              <% end %>
              <!-- à rajouter l'avatar de l'user class deja ajouter ajouter l'effet float -->
              <% if service.user.facebook_picture_url? %>
              <%= cl_image_tag service.user.facebook_picture_url %>
              <% end %>
              <div class="author-details">
                <span class="author-name">
                  <% if service.user.last_name? %>
                  <%= service.user.first_name %> <%= service.user.last_name %>
                  <% else %>
                  <%= service.user.email %>
                  <% end %>
                </span>
                <i class="author-position"></i>
              </div>
            </div>
          </div>
          <div class="card-content">
            <ul>
              <li><%= service.category %></li>
            </ul>
            <h2><%= service.title %></h2>
            <p class="description">
              <%= service.description %>
            </p>
            <span class="read-time">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= service.location %> - <%= service.price %>€/hours - minimum <%= service.min_hour %>hours.
            </span>
          </div>
        </article>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
