<h1>Services#show</h1>
<p>Find me in app/views/services/show.html.erb</p>

<%= @service.title %>
<%= @service.description %>
<%= @service.category %>
<%= @service.location %>
<%= @service.price %>
<%= @service.photo %>
<%= link_to "Add comment", cocktail_path(@cocktail), method: :delete, class: "btn btn-default"%>









