<div class="container">
  <div class="show-service">
    <div class="row" id="service-info">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <div class="body-content">
          <div class="title-description">
            <h1><%= @service.title %></h1>
            <%= @service.location %> · <%= @service.category %>
            <div class="edit-service">
              <%= link_to "Edit", edit_service_path(@service), class: "btn btn-success margin-btn"%>
            </div>
          </div>
          <div class="info-service-description">
            <div class="row">
              <div class="col-xs-12 col-sm-2 profile-picture">
                <%= cl_image_tag @service.user.facebook_picture_url, class: "img-circle" %>
              </div>
              <div class="col-xs-12 col-sm-9">
                <div class="details-profile">
                  Hosted by <%= @service.user.first_name %><br>
                  Equipment<br>
                  2 hours<br>
                  Languages spoken: English, French, Spanish<br>
                </div>
              </div>
            </div>
          </div>
          <div class="box-service">
            <strong>Description</strong><br>
            <%= @service.description %>
          </div>
          <div class="box-service">
            <strong>Where I'll provide</strong><br>
            Lunch<br>
            Steaks and chicken cooked over hot coals, alongside traditional "pap" and "shakalaka" (maize and spicy beans).<br><br>

            Equipment <br>
            A soft-top longboard, ideal to learn to surf, and a 4/3 wetsuit, perfect to keep you warm.
          </div>
          <div class="last-box">
            <strong>Where we'll meet</strong><br>
            <div id="map" style="width: 100%; height: 400px;"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-md-offset-1" id="col-info">
        <div id="one">
          <div id="card-image">
            <div class="info-content">
              <div class="img-service">
                <%= cl_image_tag @service.photo, height: 500, width: 400, crop: :fill %>
              </div>
              <p><strong>€<%= @service.price %></strong> <span class="font-small">&nbsp;per person</span></p>
              <p><%= @service.comments.count %> reviews</p>
              <p><%= link_to "Book", new_service_booking_path(@service), class: "btn btn-danger margin-btn"%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat box -->

  <div class="comment-box" id="two">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-4 col-lg-offset-4">

        <%= simple_form_for([@service, @comment]) do |f| %>
        <div class="form-inputs">
          <%= f.input :content, label: false, placeholder: "Write a review..." %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-4 col-lg-offset-4" id="comments">

        <div class="board-outline">

          <% @comments.each do |comment| %>

          <div class="message">

            <% if comment.user.facebook_picture_url? %>
            <%= image_tag comment.user.facebook_picture_url, { class: "avatar-large img-circle" }%>
            <% else %>
            <div class="message-empty-img"></div>
            <% end %>

            <div class="message-name">
              <h3><%= comment.user.first_name %> <%= comment.user.last_name %></h3>
              <p><%= comment.created_at.strftime('%a %d %b %Y')  %></p>
            </div>
            <div class="message-body">
              <p>
                <% if comment.user == current_user %>
                <div class="text-green">
                  <%= comment.content %>
                </div>
                <% else %>
                <div>
                  <%= comment.content %>
                </div>
                <% end %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map -->



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });

        let boxComment = document.getElementById("two").offsetHeight;

    $(function() {
      $("#one").sticky({bottomSpacing: 90 + boxComment});
    });
  <% end %>
<% end %>



