
<div class="background-user">
  <div class="banner-user" style="background-image: /*linear-gradient(-225deg, rgba(250,250,250,0.6) 0%, rgba(250,250,250,0.6) 50%),*/ url('https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg');">
    <div class="row">
      <% if @user.facebook_picture_url != nil %>
      <div class="col-sm-3 col-md-3 col-lg-3 banner-avatar-box">
        <% avatar_url = @user.facebook_picture_url.gsub('square', 'large')|| "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle post-author img-circle banner-avatar" %>
      </div>
      <% end %>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <h1>
        <%= @user.first_name %> <%= @user.last_name %>
        </h1>
      </div>
    </div>
  </div>
  <div class="infos">
    <div class="row">
      <div class="info-box col-sm-12 col-md-4 col-lg-4 details">
        <p>I N F O S</p>
        <hr>
        <ul>
          <li>City, Country</li>
          <li>Member since: <%= @user.created_at.strftime("%Y") %></li>
          <li>Languages :</li>
        </ul>
      </div>
      <div class="info-description col-sm-12 col-md-8 col-lg-8">
        <% if current_user == @user %>
        <div class="user-edit">
          <%= link_to edit_user_path(current_user) do %><i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <% end %>
        <strong>Description</strong>
        <br>
        <%= @user.description %>
        <!-- en attendant description -->
        <p>Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum.</p>
      </div>
    </div>
    <!-- Last classes -->
    <div class="infos-last-booking">
      <p>Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum.</p>
    </div>
    <!-- Chat box à ajouter -->
  </div>
</div>
