<div class="banner-user" style="background-image: /*linear-gradient(-225deg, rgba(250,250,250,0.6) 0%, rgba(250,250,250,0.6) 50%),*/ url('https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg');">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 banner-avatar-box">
      <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle post-author img-circle banner-avatar" %>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </div>
  </div>
</div>
<div class="infos">
  <div class="row">
    <div class="info-box col-sm-12 col-md-4 col-lg-4">
      ici les infos ville, pays<br>
      Membre depuis: <%= @user.created_at  %>
    </div>
    <div class="info-description col-sm-12 col-md-8 col-lg-8">
      <strong>Description</strong><br>
      <%= @user.description %>
    </div>
  </div>
</div>
<!-- Last classes -->
<!-- Chat box à ajouter -->
<%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary" %>
