<!-- banner video -->
<header class="heropanel--video" data-vide-bg="mp4: http://res.cloudinary.com/dyub4bz6x/video/upload/v1502726560/covervid_sfoigx.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
  <div class="heropanel__content">
    <h1>POSEIDON</h1>
  </div>
  <!-- searchbar -->
  <div class="search">
  <div class="form-group">
    <%= form_tag "/services", method: :get, class: "form-group-navbar-home"  do %>
    <%= text_field_tag :search, "", class:'form-control searchbar' , placeholder: "Where would you like to surf ?"  %>
    <%= button_tag "search", name: nil, class:"input-group-addon form-group-navbar-button" do %>
    <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>
    <% end %>
  </div>
  </div>
</header>

<div class="container padded">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h6>CHECK OUR LAST CLASSES</h6>
    </div>
  </div>
  <ul class="cards">
    <% @services.last(3).each do |s| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= link_to service_path(s) do %>
            <%= cl_image_tag s.photo, height: 300, width: 500, crop: :fill  %>
          <% end %>
        </div>
        <div class="card_content">
          <div class="row top-card">
            <div class="post-author col-sm-3">
              <% if s.user.facebook_picture_url?%>
              <%= cl_image_tag s.user.facebook_picture_url %>
              <% end %>
            </div>
            <h2 class="card_heading col-sm-9"><%= s.title %>
            <h6 class="price"><%= s.price %>€  -  <i class="fa fa-map-marker" aria-hidden="true"></i>
            <%= s.location %></h6>
          </div>
          <p><%= s.description %></p>
          <%= link_to "More infos", service_path(s), class:"btn-primary btn-card" %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
