<!-- banner video -->
<header class="heropanel--video" data-vide-bg="mp4: http://res.cloudinary.com/dyub4bz6x/video/upload/v1502726560/covervid_sfoigx.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
  <div class="heropanel__content">
    <h1>POSEIDON</h1>
  </div>
  <!-- searchbar -->
  <div class="form-group">
    <label class="" for=""></label>
    <div class="input-group">
      <input type="text" class="form-control searchbar" id="exampleInputAmount" placeholder="Where would you like to surf?">
      <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</header>
<div class="container padded">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h6>CHECK OUR LAST CLASSES</h6>
    </div>
  </div>
  <ul class="cards">
    <% @services.each do |s| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <%= cl_image_tag s.photo, height: 300, width: 500, crop: :fill %>
        </div>
        <div class="card_content">
          <div class="row top-card">
            <div class="post-author col-sm-3">
              <% if s.user.facebook_picture_url?%>
              <%= cl_image_tag s.user.facebook_picture_url %>
              <% end %>
            </div>
            <h2 class="card_heading col-sm-9"><%= s.title %>
            <h6 class="price"><%= s.price %>€  -  <i class="fa fa-map-marker" aria-hidden="true"></i>
            <%= s.location %></h6>
          </div>
          <p><%= s.description %></p>
          <%= link_to "More infos", service_path(s), class:"btn-primary btn-card" %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
